In [1]:
# import dependencies
import pandas as pd

In [2]:
# create list of years for which data is available
years = [year for year in range(2009,2019)]

# initialize a dictionary to store bridge condition data tables
bridge_dict = {}

# use for loop to append data tables to dictionary
for year in years:
    csv_path = f"bridge/condition_by-hwy-sys_{year}.csv"
    table = pd.read_csv(csv_path)
    table["Year"] = year
    bridge_dict[year] = table

In [3]:
# confirm that tables were appended to dictionary
bridge_dict.keys()

dict_keys([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [4]:
# use for loop to create single dataframe with information for all years
for i in range(0,len(years)):
    if i == 0:
        combined_table = bridge_dict[years[i]]
    else:
        combined_table = combined_table.append(bridge_dict[years[i]])

# add column to resulting dataframe for use as primary key in SQL database and sort columns
# combined_table = combined_table.sort_values(by=["Year","State"]) 
combined_table = combined_table.reset_index()
combined_table["index"] = combined_table["index"] + 1
combined_table = combined_table.rename(columns={"index":"ID"})
combined_table = combined_table[["ID",
                                 "Year",
                                 "State",
                                 "Count_All",
                                 "Count_Good",
                                 "Count_Fair",
                                 "Count_Poor",
                                 "Area_All",
                                 "Area_Good",
                                 "Area_Fair",
                                 "Area_Poor"]]
combined_table.head()

,ID,Year,State,Count_All,Count_Good,Count_Fair,Count_Poor,Area_All,Area_Good,Area_Fair,Area_Poor
0,1,2009,ALABAMA,"15,959","7,637","7,384",934,"9,176,079","3,991,613","4,892,783","290,431"
1,2,2009,ALASKA,"1,151",518,496,135,"657,173","284,249","314,174","58,564"
2,3,2009,ARIZONA,"7,494","5,274","2,030",189,"4,685,761","2,826,369","1,697,404","161,735"
3,4,2009,ARKANSAS,"12,560","7,113","4,809",638,"5,927,762","3,211,634","2,353,584","362,545"
4,5,2009,CALIFORNIA,"24,463","10,275","10,833","3,258","27,743,006","8,596,833","13,556,904","5,550,592"

In [5]:
# export dataframe as a csv file
combined_table.to_csv("bridge/condition_by-hwy-sys_all.csv", index=False)