In [1]:
# !pip install sqlalchemy
# !pip install pymysql

In [1]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
import sys
sys.path.append('..')
from config import remote_gwsis_dbuser, remote_gwsis_dbpwd, remote_db_host, remote_db_port, remote_gwsis_dbname

# Import Pandas
import pandas as pd

In [2]:
# Cloud MySQL Database Connection on AWS
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_host}:{remote_db_port}/{remote_gwsis_dbname}")

In [3]:
# Create a remote database engine connection
conn = engine.connect()

In [4]:
csv_data = pd.read_csv('geojson/state_code.csv')

csv_data["State/District"] = 


csv_data.head()

  State/District Postal Code
0        Alabama          AL
1         Alaska          AK
2        Arizona          AZ
3       Arkansas          AR
4     California          CA

In [5]:
csv_data = pd.read_csv('bridge/condition_by-hwy-sys_all.csv')
csv_data.head()

,ID,Year,State,Count_All,Count_Good,Count_Fair,Count_Poor,Area_All,Area_Good,Area_Fair,Area_Poor
0,1,2009,ALABAMA,15959,7637,7384,934,9176079,3991613,4892783,290431
1,2,2009,ALASKA,1151,518,496,135,657173,284249,314174,58564
2,3,2009,ARIZONA,7494,5274,2030,189,4685761,2826369,1697404,161735
3,4,2009,ARKANSAS,12560,7113,4809,638,5927762,3211634,2353584,362545
4,5,2009,CALIFORNIA,24463,10275,10833,3258,27743006,8596833,13556904,5550592

In [6]:
csv_data.to_sql(name='estimate_bridge_cost_2018dollars', if_exists='replace', con=conn, chunksize=500, index=False)