In [1]:
# !pip install sqlalchemy
# !pip install pymysql

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
import sys
sys.path.append('..')
from config import remote_gwsis_dbuser, remote_gwsis_dbpwd, remote_db_host, remote_db_port, remote_gwsis_dbname

# Import Pandas
import pandas as pd

In [3]:
# Cloud MySQL Database Connection on AWS
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_host}:{remote_db_port}/{remote_gwsis_dbname}")

In [4]:
# Create a remote database engine connection
conn = engine.connect()

In [5]:
csv_data = pd.read_csv('estimates/sd2018_cost-good-rating.csv')
csv_data.head()

,State,Count,Area,Estimated Total Cost of Replacement,Estimated Total Cost of Rehab,State_Abbreviation
0,Alabama,689,2657411,313267151,213021663,AL
1,Alaska,155,636541,233630713,158868885,AK
2,Arizona,150,1027120,139182874,94644354,AZ
3,Arkansas,588,3376602,492474345,334882555,AR
4,California,1812,21542202,7099847998,4827896639,CA

In [6]:
csv_data.to_sql(name='estimate_bridge_cost_2018dollars', if_exists='replace', con=conn, chunksize=500, index=False)