In [1]:
# !pip install sqlalchemy
# !pip install pymysql

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
from config import dbuser, dbpwd, dbhost, dbport, dbname

# Import Pandas
import pandas as pd

In [3]:
# Cloud MySQL Database Connection on AWS
engine = create_engine(f"mysql://{dbuser}:{dbpwd}@{dbhost}:{dbport}/{dbname}")

In [4]:
# Create a remote database engine connection
conn = engine.connect()

In [5]:
csv_data = pd.read_csv('expenditures/international/oecd_per_capita_spending.csv')
csv_data = csv_data.set_index("Unnamed: 0")
del csv_data.index.name
csv_data.head()

,Country,Investment Amount,Investment Type,Measure,Population,Year,GDP per Capita
0,Australia,4.957820e+09,Road infrastructure investment,Constant Euro,18005000.0,1995,275.357935
1,Australia,5.505514e+09,Road infrastructure investment,Constant Euro,18225000.0,1996,302.085817
2,Australia,5.854421e+09,Road infrastructure investment,Constant Euro,18423000.0,1997,317.777809
3,Australia,7.149711e+09,Road infrastructure investment,Constant Euro,18608000.0,1998,384.227791
4,Australia,7.104844e+09,Road infrastructure investment,Constant Euro,18812000.0,1999,377.676183

In [6]:
csv_data.to_sql(name='spending_oecd', if_exists='append', con=conn, chunksize=500, index=False)