In [1]:
# !pip install sqlalchemy
# !pip install pymysql

In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
import sys
sys.path.append('..')
from config import remote_gwsis_dbuser, remote_gwsis_dbpwd, remote_db_host, remote_db_port, remote_gwsis_dbname

# Import Pandas
import pandas as pd

In [3]:
# Cloud MySQL Database Connection on AWS
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_host}:{remote_db_port}/{remote_gwsis_dbname}")

In [4]:
# Create a remote database engine connection
conn = engine.connect()

In [5]:
csv_data = pd.read_csv('geojson/state_boundaries.csv')
csv_data.head()

,State,SouthBoundary,NorthBoundary,EastBoundary,WestBoundary,State_Abbreviation
0,Alabama,30.216667,35.000000,-84.850000,-88.466667,AL
1,Alaska,54.666667,71.833333,-130.000000,-180.000000,AK
2,Arizona,31.333333,37.000000,-109.050000,-114.833333,AZ
3,Arkansas,33.000000,36.500000,-89.683333,-94.700000,AR
4,California,32.500000,42.000000,-114.133333,-124.400000,CA

In [6]:
csv_data.to_sql(name='boundaries', if_exists='replace', con=conn, chunksize=500, index=False)